html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

/* Bagian teratas ini merupakan fungsi dari CSS Reset. BIla ingin menggunakannya berikut sumbernya: 
    https://www.ninth.digital/blog-posts/what-is-a-css-reset-and-the-proper-way-to-do-it
 */

/* Berikut adalah daftar warna yang digunakan di dalam webiste:
    - #8a584c 
    - #f5eacf
    - #ceb793
    - #85865f
    - #4f583d
    - #8fa6ac
    
 */

body {
  background: ;
}


.menu {
  background: white;
  padding: 5px;
}

.menu .logo {
  display: inline-block;
  background: #8a584c;
  width: 300px;
  height: 90px;
}

.menu .submenu {
  display: inline-block;
  position: absolute;
  background: ;
  padding: 10px;
  margin: 25px 0px 0px 250px;

}

.menu .submenu a {
  color: #8a584c;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  padding: 10px 22px;
  
}

.menu .submenu a:hover {
  color: #f5eacf;
  
}


.bar-pencarian {
  display: inline-block;
  position: absolute;
  background: #85865f;
  border-radius: 60px;
  width : 100%;
  max-width: 300px;
  margin: 32px 0px 0px 730px;
  /*  box-sizing: border-box; */
}

.bar-pencarian .pencarian {
  text-align: center;
  font-size: 16px;
}

.bar-pencarian .pencarian input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  color: white;
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
}
::placeholder {
  color: white;
}

.bar-pencarian .pencarian .icon {
  background: grey;
  cursor: pointer;
  border-radius: 60px;
}

/* .bar-pencarian .pencarian .icon img {
  width: px;
  height: px;
} */

.badan-halaman {
  background: white;
  width: 100%;
  margin: auto;
  height: 100vh;
}

.badan-halaman .wise-word {
  display: inline-block;
  background: ;
  width: 60%;
  height: 400px;
  position: absolute;
  padding: 10px;
}

.badan-halaman .latar-belakang img{
    width: 550px;
    height: 535px;
    display: inline-block;
    position: absolute;
    margin: 0px 0px 0px 850px;

  }

